.comneuti{
    background-color:salmon;
    float: left;
   width: 80%;
   height: 800px;
    margin-left: 250px;
}
.connityon{
    text-align: center;
    border:  1px solid rgb(70, 67, 67);;
    width: 550px;
    margin-left: 200px;
    
}
.video{

    display: block;
    margin: 50px;
    padding-left: 150px ;
    height : 500px;
     width: 60%;
}
.button{
   
   float: left;
   margin: 0px;
   padding-left: 370px;
}